.fotoPerfil {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(#0f172a, #0f172a) padding-box,
                linear-gradient(90deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D) border-box;
    border: 4px solid transparent;
}
