.opcionesBarraLateral{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}
.opcionesBarraLateral div{
    padding: 5%;
}
.opcionesBarraLateral div :hover{
    background-color: #1B1D43;
}